@page "/actordetails"
@using MovieBlazor.MovieAPI
@using MovieBlazor.Models


@if (Program.actor != null)
{
    <h3 class="my-4">Biography</h3>
    <div class="card mb-3" style="background-color:rgb(5, 39, 123)">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w342/@Program.actor.profile_path" class="card-img" alt="@Program.actor.name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">
                        @Program.actor.name
                                        @if (@Program.socialIcon.facebook_id != null)
                                        {
                                            <a href="https://www.facebook.com/@Program.socialIcon.facebook_id" class="fa fa-facebook" target="_blank"></a>
                                            <a href="https://twitter.com/@Program.socialIcon.twitter_id" class="fa fa-twitter" target="_blank"></a>
                                        }
                                    </h2>
                    <p class="card-text">@Program.actor.biography</p>
                    <table class="table table-striped">
                        <tr class="table-light">
                            <td>DOB:</td>
                            <td>@Program.actor.birthday</td>
                        </tr>
                        <tr class="table-light">
                            <td>Place of Birth:</td>
                            <td>@Program.actor.place_of_birth</td>
                        </tr>
                        <tr class="table-light">
                            <td>IMDB:</td>
                            <td><a href="https://www.imdb.com/name/@Program.actor.imdb_id" target="_blank">Imdb page</a></td>
                        </tr>
                        <tr class="table-light">
                            <td>Home Page:</td>
                            <td><a href="@Program.actor.homepage" target="_blank">Webpage</a></td>
                        </tr>
                        <tr class="table-light">
                            <td>Facebook:</td>
                            <td>@if (@Program.socialIcon.facebook_id != null) {<a href="https://www.facebook.com/@Program.socialIcon.facebook_id" class="fa fa-facebook" target="_blank"></a>}</td>
                        </tr>
                        <tr class="table-light">
                            <td>Twitter:</td>
                            <td>@if (@Program.socialIcon.twitter_id != null) {<a href="https://twitter.com/@Program.socialIcon.twitter_id" class="fa fa-twitter" target="_blank"></a>}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Actor Details -->
    <section class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <ul id="tabs" class="nav nav-tabs" style="background-color:rgb(5, 39, 123)">
                    <li class="nav-item  mb-0"><a data-target="#profile1" data-toggle="tab" class="nav-link  text-uppercase active">Movies</a></li>
                    <li class="nav-item  mb-1"><a data-target="#messages1" data-toggle="tab" class="nav-link text-uppercase">Images</a></li>
                </ul>

                <div id="tabsContent" class="tab-content">
                    <div id="profile1" class="tab-pane fade active show">
                        <!-- Known For -->
                        <div class="container">
                            <!-- Related Movies Row -->
                            <h3 class="my-4">Related Movies</h3>
                            <div class="row">
                                @foreach (ActorCredit p in Program.actorCreditSet.cast)
                                {
                                    @if (p.poster_path != null)
                                    {
                                        <div class="col-md-3 col-sm-6 mb-4">
                                            <img class="img-fluid" src="https://image.tmdb.org/t/p/w154/@p.poster_path" alt="gallery pic">
                                            <input class="form-control" id="searchButton" type="submit" @onclick="@(e => GetMovie(@p.id))" value="More" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div id="messages1" class="tab-pane fade">
                        <div class="container">
                            <!-- Related Images Row -->
                            <h3 class="my-4">Related Images</h3>
                            <div class="row">
                                @foreach (ActorImgs p in Program.actorImgSet.profiles)
                                {
                                    @if (p.file_path != null)
                                    {
                                    <div class="col-md-3 col-sm-6 mb-4">
                                        <div class="zoom">
                                            <img class="img-fluid" src="https://image.tmdb.org/t/p/w154/@p.file_path" alt="gallery pic">
                                        </div>
                                     </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




}



<!--results when actors movie click -->
@if (Program.credits != null)
{
    <MovieBlazor.Pages.MovieDetails />
}
@code {
    //== Movie Details ==//
    public async Task GetMovie(int id)
    {
        Program.posterSet = null;
        Program.actor = null;
        Program.latestMovieSet = null;
        Program.videoSet = null;
        await Program.fetch.GrabMovieAsync(id);
    } // GetMovie()
}
